/* general */
*{
    margin: 0%;
    text-align: center;
}
header ,footer{
    background:linear-gradient(135deg, #36A2E1 0%, #2F6FE4 50%, #6B3FE6 100%);
    color: white;
}

h1 ,h2{
    color: white;
    font-family: "Montserrat", sans-serif;
}
nav li{
display: inline-block;
margin: 15PX 25PX;
}

nav li:hover{
    opacity: 0.5 ;}

a{
    text-decoration: none;
    color: white;
}



/* class */
.projets li{
    text-decoration: none;
     list-style-type: none;
   border: 1px solid black;
   padding: 10px 10px;
   margin-bottom: 30px;
   border-radius: 10px;
   
   
}
.projets li:hover{
    box-shadow: 5px, rgba(0, 0, 0, 0.7);
}
.contact a{
color: black;
}
.description{
    margin: 5% 20%;
    font-size: 20px;
    font-family: "roboto",sans-serif;
}